<app-header></app-header>
<div class="form-container" fxLayout="column">
    <form class="form"
          (ngSubmit)="submitForm(shLForm, formDirective)"
          [formGroup]="shLForm"
          #formDirective="ngForm">
        <mat-form-field class="input-full-width">
            <input matInput
                   placeholder="Shopping list name"
                   type="text"
                   formControlName="shLName">
        </mat-form-field>
        <div class="error-msg"
             *ngIf="shLForm.get('shLName').invalid && shLForm.get('shLName').touched">
            <span *ngIf="shLForm.get('shLName').errors['required']">
                Shopping list name is required!
            </span>
        </div>
        <div formArrayName="shLItName"
             fxLayout="column"
             fxLayoutAlign="center flex-start">
            <button mat-raised-button
                    type="button"
                    id="add"
                    (click)="onAddItem()">Add Item
            </button>
            <div fxLayout="row"
                 [ngStyle.xs]="{'width': '95%'}"
                 style="width: 100%;"
                 fxLayoutAlign="space-between center"
                 *ngFor="let item of shItemsData.controls; let i = index">
                <div fxLayout="column" fxFlex="80%">
                    <mat-form-field class="input-full-width">
                        <input matInput placeholder="Item name"
                               type="text"
                               id="shLItName"
                               [formControlName]="i">
                    </mat-form-field>
                    <div class="error-msg"
                         *ngIf="item.invalid && item.touched">
                        <span *ngIf="item.errors['required']">
                            Item name is required!
                        </span>
                    </div>
                </div>
                <div fxFlex="15%">
                    <button type="button"
                            id="delete"
                            mat-raised-button
                            (click)="onDeleteItem(i)">X
                    </button>
                </div>
            </div>
        </div>
        <button mat-raised-button
                class="input-full-width"
                type="submit"
                [disabled]="shLForm.invalid">Submit
        </button>
    </form>
    <div *ngIf="submitted">
        <div class="form-container"
             fxLayout="row"
             fxLayout.xs="column"
             fxLayoutAlign="space-between">
            <div fxFlex="50%">
                <p>Shopping list name: <strong>{{formData.shListName}}</strong></p>
                <p>Item with the longest name: <strong>{{longestString}}</strong></p>
                <p>Number of items: <strong>{{formData.shItems.length}}</strong></p>
            </div>
            <div fxFlex="40%">
                <h3>Items Names:</h3>
                <ul>
                    <li *ngFor="let item of formData.shItems">{{item}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>